body {
    background-color: rgb(164, 168, 168);
}

.wrapper {
    width: 1300px;
    margin: auto;
    height: 100vh;
}

.conditions {
    margin: 20px;
    text-align: center;
    font-family: 'Bree Serif', serif;
    color: #343a40;
}

.conditionsHeader {
    text-align: center;
}

.headerStyle {
    margin-right: 10px;
    text-align: center;
}

.navbar {
    justify-content: center;
    font-family: 'Bree Serif', serif;
}

a.navbar-brand {
    font-size: 30px;
}

#searchArea {
    text-align: center;
}

.col-md-4#searchArea {
    margin-top: 20px;
}

#fiveDayBox {
    margin-top: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    font-family: 'Bree Serif', serif;
    margin-left: 30px;
}

.forecastCard {
    float: left;
    margin: 5px;
    padding: 5px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 25px;
    border-width: thick;
    border: solid;
    border-color: #343a40;
}

img.forecastIcons {
    height: 70px;
    width: 70px;
}

#subrow-2 {
    float: left;
    clear: both;
    border: 1px solid rgba(50, 51, 50, 0.667)
}

button {
    margin: 5px;
    border-radius: 15px;
    border-style: solid;
    border-width: thin;
    border-color: rgb(112, 115, 116);
    float: left;
}

#searchBtn {
    border-style: solid;
    border-width: thick;
    border-color: rgb(112, 115, 116);
    background-color: white;
    color: #343a40;
}

#yourLocation {
    text-align: center;
    background-color: white;
    width: fit-content;
    border-style: double;
    font-family: 'Bree Serif', serif;
    margin-left: 40px;
    margin-top: 25px;
}